* {maring: 0; padding: 0;}

header {
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 1;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.logo {
    width: 200px;
    height: 200px;
}

.logo img {
    width: 100%;
}

footer {
    width: 103px;
    height: 768px;
    position: fixed;
    margin-top: 5px;
    right: 10px;
    z-index: 2;
}


.about {
    width: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.about img {
    width: 100%;
}

.events {
    width: 34px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.events img {
    width: 100%;
}

.interact {
    width: 48px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.interact img {
    width: 100%;
}

.sponsorship {
    width: 104px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.sponsorship img {
    width: 100%
}

.shop {
    width: 100px;
    margin: 0 auto;
}

.shop img {
    width: 100%;
}

/* Index */


.title { 
    width: 90%;
    margin-top: 160px;
    float: left;
    z-index: -1;
    line-height: 1.1em;
}

.title {
    color: black;
    font-size: 90px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
}




video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(images/videoframe.jpg) no-repeat;
    background-size: cover; 
}





/* about */

.container {
    width: 100%;
    position: absolute;
    margin-top: 250px;
}

.projectstatement {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.abouttitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    text-align: center; 
}

.column {
    width: 48%;
    float: left;
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 250px;
}

.artistteam {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.holly {
    width: 48%;
    float: left;
    padding: 5px;
}

.holly img {
    width: 100%;
}

.daniel {
    width: 48%;
    float: left;
    padding: 5px;
}

.daniel img {
    width: 100%;
}

.williamagee {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.aboutimgone {
    width: 40%;
    position: absolute;
    z-index: -2;
    margin-top: -20%;
    margin-left: -25%;
    box-shadow: 10px 10px 25px #999999;
}

.aboutimgone img {
    width: 100%;
}

.aboutimgtwo {
    width: 35%;
    margin: 0 auto;
    right: 5px;
    position: absolute;
    z-index: -2;
    margin-top: 100px;
    box-shadow: -10px 10px 25px #999999;
}

.aboutimgtwo img {
    width: 100%;
}

/* events */

.dates {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: -200px;
    margin-left: 90px;
}

.dates p {
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.7em;
    text-align: center;
    margin-left: 14%;
}

.dates a {
    text-decoration: none;
    color: black;
}

.dates p:hover {
    transition: 0.5s;
    -webkit-text-stroke: 1px black;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.7em;
    text-align: center;
    margin-left: 14%;
}

.dates a:hover {
    transition: 0.5s;
    -webkit-text-stroke: 1px black;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.7em;
    text-align: center;
}

/* april */

.datesevent {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: -200px;
}

.datesevent p {
    -webkit-text-stroke: 1px black;
    color: white;
    position: fixed;
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.7em;
    text-align: center;
    margin-left: 120px;
    z-index: -4;
}

.aprilimgone {
    width: 40%;
    position: absolute;
    z-index: -2;
    margin-top: 10%;
    margin-left: -25%;
    box-shadow: 10px 10px 25px #999999;
}

.aprilimgone img {
    width: 100%;
}

.aprilimgtwo {
    width: 35%;
    margin: 0 auto;
    right: 5px;
    position: absolute;
    z-index: -2;
    margin-top: 30%;
    box-shadow: -10px 10px 25px #999999;
}

.aprilimgtwo img {
    width: 100%;
}

/* COMING SOON */

.comingsoon {
    width: 75%;
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
}

.comingsoon img {
    width: 100%;
}