* {maring: 0; padding: 0;}

header {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 1;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.logo {
    width: 150px;
    height: 150px;
}

.logo img {
    width: 100%;
}

footer {
    width: 50px;
    height: 600px;
    position: fixed;
    margin-top: 50px;
    right: 10px;
    z-index: 2;
}

footer p {
    font-family: 'Playfair Display', serif;
    font-size: 23px;
}

footer a {
    text-decoration: none;
    color: black;
}

.about {
    transform: rotate(90deg);
}

.about:hover {
    text-decoration: underline;
}

.events {
    transform: rotate(90deg);
    margin-top: 80px;
}

.events:hover {
    text-decoration: underline;
}

.interact {
    transform: rotate(90deg);
    margin-top: 90px;
}

.interact:hover {
    text-decoration: underline;
}

.sponsorship {
    transform: rotate(90deg);
    margin-top: 105px;
}

.sponsorship:hover {
    text-decoration: underline;
}

.shop {
    transform: rotate(90deg);
    margin-top: 150px;
}

.shop:hover {
    text-decoration: underline;
}

/* Index */


.title {
    transition: 1s;
    background: white;
    opacity: 1;
    width: 90%;
    margin-top: 250px;
    float: left;
    font-size: 90px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    z-index: -1;
}

.title:hover {
    opacity: 0;
    width: 90%;
    margin-top: 250px;
    float: left;
    font-size: 90px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    z-index: -2;
}

.titulo {
    width: 90%;
    margin-top: 250px;
    float: left;
    font-size: 90px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    z-index: -2;
}

a:link {
    text-decoration: none;
    color: black;
}

.introvideo {
    position: fixed;
    z-index: -1;
    margin-top: 320px;
    right: 10px;
    box-shadow: -10px 10px 25px #999999;
}


/* about */

.container {
    width: 100%;
    position: absolute;
    margin-top: 250px;
}

.projectstatement {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.abouttitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    text-align: center; 
}

.column {
    width: 48%;
    float: left;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 250px;
}

.artistteam {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.holly {
    width: 48%;
    float: left;
    padding: 5px;
}

.holly img {
    width: 100%;
}

.daniel {
    width: 48%;
    float: left;
    padding: 5px;
}

.daniel img {
    width: 100%;
}

.williamagee {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.aboutimgone {
    width: 40%;
    position: absolute;
    z-index: -2;
    margin-top: -20%;
    margin-left: -25%;
    box-shadow: 10px 10px 25px #999999;
}

.aboutimgone img {
    width: 100%;
}

.aboutimgtwo {
    width: 35%;
    margin: 0 auto;
    right: 5px;
    position: absolute;
    z-index: -2;
    margin-top: 100px;
    box-shadow: -10px 10px 25px #999999;
}

.aboutimgtwo img {
    width: 100%;
}

/* events */

.dates {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: -200px;
}

.dates p {
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.9em;
    text-align: center;
    margin-left: 120px;
}

.dates a {
    text-decoration: none;
    color: black;
}

.dates p:hover {
    transition: 0.5s;
    -webkit-text-stroke: 1px black;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.9em;
    text-align: center;
    margin-left: 120px;
}

.dates a:hover {
    transition: 0.5s;
    -webkit-text-stroke: 1px black;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.9em;
    text-align: center;
}

/* april */

.datesevent {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: -200px;
}

.datesevent p {
    -webkit-text-stroke: 1px black;
    color: white;
    position: fixed;
    font-family: 'Playfair Display', serif;
    font-size: 130px;
    float: left;
    line-height: 0.9em;
    text-align: center;
    margin-left: 120px;
    z-index: -4;
}

.aprilimgone {
    width: 40%;
    position: absolute;
    z-index: -2;
    margin-top: 10%;
    margin-left: -25%;
    box-shadow: 10px 10px 25px #999999;
}

.aprilimgone img {
    width: 100%;
}

.aprilimgtwo {
    width: 35%;
    margin: 0 auto;
    right: 5px;
    position: absolute;
    z-index: -2;
    margin-top: 30%;
    box-shadow: -10px 10px 25px #999999;
}

.aprilimgtwo img {
    width: 100%;
}

/* COMING SOON */

.comingsoon {
    width: 50%;
    position: absolute;
    margin-top: 200px;
    margin-left: 24%;
}

.comingsoon img {
    width: 100%;
}